[Unit]
Description=Miniflux: Feed Reader
Documentation=https://miniflux.app/docs/#database-connection-parameters
After=network.target postgresql.service

[Service]
Type=notify
User=__APP__
ExecStart=__INSTALL_DIR__/miniflux -c __INSTALL_DIR__/__APP__.conf
EnvironmentFile=__INSTALL_DIR__/__APP__.conf
NonBlocking=true
Restart=always
NoNewPrivileges=true
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictRealtime=true
ReadWritePaths=/run
AmbientCapabilities=CAP_NET_BIND_SERVICE
PrivateTmp=true

[Install]
WantedBy=multi-user.target
